body{
    box-sizing: border-box;
}
.navigations{
    display: flex;
    justify-content: space-between;
}

ul.list1 {
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}

a#link1 {
    font-size: 25px;
    margin: 0 0.5em;
    color: rgb(90, 90, 90);
}
img#image{
    width:40rem;
}

section.inputs{
    text-align: center;
}
#start{
    margin-top: 10px;
    font-weight: bold;
    background-color: orange;
    border: none;
    padding: 5px;
    font-size: 12px;
}

.features{
    margin:auto;
    width: 35%;
}
.grid{
    display: flex;
}

.one{
    margin-left: 5px;
}
.tex1{
    font-size: 14px;
    margin-left: 20px;
}
.anotherText{
    margin-left: 40px;
}

#how-it-works-video{
    text-align: center;
}
