body {
    box-sizing: border-box;
    /* background-color: gainsboro; */
    background-color: rgb(241, 241, 241);
}

.navigations {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-right: 100px;
}

::before {
    color: orange;
}

ul.list1 {
    list-style: none;
    display: flex;
}

ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a#link1 {
    font-size: 15px;
    margin: 0 0.5em;
    color: rgb(90, 90, 90);
    margin-right: 80px;
}

img#image {
    width: 15rem;
}

h3 {
    font-family: monospace;
    font-size: 15px;
}

section.inputs {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#start {
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(253, 189, 69);
    border: none;
    padding: 5px;
    font-size: 12px;
}

.features {
    margin: auto;
    width: 35%;
}

.grid {
    display: flex;
    margin-bottom: 30px;
}

.one {
    margin-left: 5px;
}

.tex1 {
    font-size: 14px;
    margin-left: 20px;
}

.anotherText {
    margin-left: 40px;
}

#how-it-works-video {
    text-align: center;
}

#pricing {
    display: flex;
    justify-content: center;
}

.product {
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

#card-title {
    background-color: gainsboro;
    padding: 25px 65px;
    margin: 0px;
}

button#select {
    background-color: orange;
    border: 1px solid orange;
    padding: 5px 10px;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;
    /* margin-left: 50px; */
}

footer {
    background-color: lightgray;
    margin: auto;
    width: 50%;
}

.footerList,
span {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
}

ul.footerList {
    list-style: none;
}

#foot {
    padding: 4px 10px;
    font-size: 12px;
    color: black;
}