*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.nav{
    background-color: #BE3144;
}
ul{
    list-style: none;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
}

li{
    margin: 25px;
    font-size: 25px;
    font-family: monospace;
}

li a{
    text-decoration: none;
    color: white;
}
h1{
    color: white;
}

#par{
    color:#be3144 ;
    font-style: oblique;
}

.intro{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   flex-direction: column;
   background-color:black;
   background-image: linear-gradient(62deg,#3a3d40,#181719 100%);
   font-size:30px;
}