.container{
 display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#f-letter{
    background-color: rgb(127, 127, 230);
    color: white;
    font-size: 200px;
    border-radius: 50%;
    padding: 20px 100px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* 
 The Gaol of this course 
 recap about flex box 
 recap about google inspect  
 */
 /* 
 Things learnt 
 - we align items which are inside a flex box div 
 -
 */